@model SportsStore.Domain.Entities.Product

<tr>
    <td>
    @if (Model.ImageData != null)
    {
        <div style="float:left;margin-right:20px">
            <img width="75" height="75" src="@Url.Action("GetImage","Product",new {Model.ProductID})"/>
        </div>
    }
        </td>
    
    <td>
        <h3>@Model.Name</h3>
        @Model.Description
        <h4>@Model.Price.ToString("c")</h4>
    </td>
    <td>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.HiddenFor(x => x.ProductID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <div class="pull-right">
            <input type="submit" value="+ Add to cart" class= "btn btn-success" />
        </div>
    }
    </td>
    

</tr>
